/*
* HOME PAGE
*/
#content-wrapper {
  position: relative; }

#content-wrapper section {
  text-align: center; }

#home-banner {
  background-image: url("../imgs/club-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

#credit {
  font-size: 0.3rem;
  color: #F6F6F8; }

#home-banner > .center {
  height: 267px; }
@media screen and (min-width: 48em) {
  #home-banner > .center {
    height: 412px; } }
@media screen and (min-width: 64em) {
  #home-banner > .center {
    height: 505px; } }

p.intro-p {
  font-size: 1rem;
  text-align: center; }
@media screen and (min-width: 64em) {
  p.intro-p {
    font-size: 1.1rem;
    text-align: justify; } }

#menu-btn {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  z-index: 20;
  top: 10px;
  right: 10px;
  padding: 0.4em;
  box-sizing: border-box;
  cursor: pointer; }
#menu-btn span {
  display: block;
  position: relative;
  margin-top: 48%; }
#menu-btn span::before, #menu-btn span::after {
  content: "";
  position: absolute; }
#menu-btn span::before {
  top: -6px; }
#menu-btn span::after {
  top: 6px; }
#menu-btn span, #menu-btn span::before, #menu-btn span::after {
  background-color: #EEE;
  height: 1px;
  width: 100%;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out; }

#menu-btn.menu-cross {
  background-color: transparent; }
#menu-btn.menu-cross span::before {
  top: 0px;
  box-shadow: 0 0 30px #FFF;
  transform: rotate(45deg); }
#menu-btn.menu-cross span::after {
  top: 0px;
  box-shadow: 0 0 30px #FFF;
  transform: rotate(-45deg); }
#menu-btn.menu-cross span {
  height: 0; }

#eboard {
  padding: 12px;
  background-color: #191919;
  box-sizing: border-box;
  color: #FFF; }
#eboard h2 {
  color: #FFF; }

#eboard-list li {
  margin: 8px 0; }

.eboard-img, .eboard-name, .eboard-email, .eboard-position {
  display: block; }

.eboard-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin: 0 auto 5px auto; }
@media screen and (min-width: 64em) {
  .eboard-img {
    width: 110px;
    height: 110px; } }

.eboard-position {
  font-weight: bold; }

#contact {
  position: relative;
  background-color: #FFDA6B; }
#contact h2, #contact h3 {
  font-weight: 400; }

.contact-p {
  margin: 0 auto 10px;
  max-width: 950px;
  font-size: 1.0rem;
  text-align: justify; }
@media screen and (min-width: 64em) {
  .contact-p {
    font-size: 1.1rem; } }

#contact-header {
  background-color: #F5F5F7; }

.contact-link {
  box-sizing: border-box;
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #F6F6F8;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; }
.contact-link:hover {
  text-shadow: 0px 0px 25px #FFF; }
@media screen and (min-width: 64em) {
  .contact-link {
    margin-bottom: 5px; } }

#contact-mail, #contact-fb {
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.2); }

#contact-mail {
  background-color: #F6F6F8; }

#contact-fb {
  background-color: #49494A;
  color: #F6F6F8; }
#contact-fb h3 {
  color: #F6F6F8; }

#mail-list-link {
  background-color: #CC4343; }
#mail-list-link:hover {
  background-color: #C72F2F; }

#facebook-link {
  background-color: #3B5998; }
#facebook-link:hover {
  background-color: #355088; }
