/*
* RESOURCES PAGE
*/
#content-wrapper {
  position: relative; }

#content-wrapper section {
  text-align: center; }

#resources-banner {
  position: relative;
  background-color: #191919; }
  #resources-banner h1 {
    color: #FFF; }

#home-banner > .center {
  height: 267px; }
  @media screen and (min-width: 48em) {
    #home-banner > .center {
      height: 412px; } }
  @media screen and (min-width: 64em) {
    #home-banner > .center {
      height: 682px; } }

ul#better-list {
  list-style-type: square;
  margin: 0 auto;
  padding-left: 15px;
  max-width: 1000px;
  text-align: left; }

@media screen and (min-width: 64em) {
  p.res-answer {
    margin: 0 auto;
    max-width: 900px;
    text-align: justify; } }
