@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
/* 
*	BASE STYLE
*/
html, body {
  font-size: 16px;
  height: 100%;
  background-color: #F6F6F8; }

body {
  line-height: 1.6rem;
  color: #191919; }

h1, h2, h3, h4, h4, h6 {
  color: #000;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.3rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1.1rem; }

hr {
  border: 1px solid #ccc;
  clear: both;
  margin: 10px 0; }

a {
  text-decoration: none;
  color: #1981DC;
  outline: 0; }
  a:hover, a:focus {
    color: #1368B2; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  font-size: 1rem; }

span {
  font-size: 1rem; }

.fancy-heading {
  color: #FFF;
  padding: 10px 15px;
  border: 2px solid #FFF;
  z-index: 10; }

.banner {
  padding: 10px 15px;
  box-sizing: border-box; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 5; }

.mask.mask-hidden {
  background-color: transparent;
  display: none; }

.mask.mask-priority {
  z-index: 15; }

.vert-nav {
  text-align: center;
  background-color: #FFF;
  background-color: #F6F6F8; }
  .vert-nav ul.nav-list li {
    box-sizing: border-box; }
    .vert-nav ul.nav-list li a {
      display: block;
      padding: 15px 10px;
      color: #F6F6F8; }
    .vert-nav ul.nav-list li a.local-link {
      padding: 10px 10px;
      color: #F6F6F8; }
      @media screen and (min-width: 80em) {
        .vert-nav ul.nav-list li a.local-link {
          display: none; } }
    .vert-nav ul.nav-list li a.page-link.current-page {
      color: #575757; }
    .vert-nav ul.nav-list li hr {
      margin: 0;
      height: 1px;
      border: 0;
      background-color: #F6F6F8;
      width: 100%;
      display: block;
      text-align: center; }

.page-link {
  font-size: 1.1rem; }

.current-page {
  background-color: #F6F6F8; }

.local-link {
  font-size: 0.9rem; }

.slide-menu {
  width: 180px;
  position: fixed;
  height: 100%;
  z-index: 20;
  left: -180px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
  transition: left 150ms ease-in-out; }

.slide-menu.menu-open {
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
  left: 0; }

.section-info {
  box-sizing: border-box;
  padding: 10px; }
  @media screen and (min-width: 64em) {
    .section-info {
      padding: 25px; } }

/*
* TOURNAMENTS PAGE
*/
#content-wrapper {
  position: relative; }

#content-wrapper section {
  text-align: center; }

#tourn-banner {
  position: relative;
  background-color: #191919; }
  #tourn-banner h1 {
    color: #F6F6F8; }

#home-banner > .center {
  height: 267px; }
  @media screen and (min-width: 48em) {
    #home-banner > .center {
      height: 412px; } }
  @media screen and (min-width: 64em) {
    #home-banner > .center {
      height: 682px; } }

#menu-btn {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  z-index: 20;
  top: 10px;
  right: 10px;
  padding: 0.4em;
  box-sizing: border-box;
  cursor: pointer; }
  #menu-btn span {
    display: block;
    position: relative;
    margin-top: 48%; }
  #menu-btn span::before, #menu-btn span::after {
    content: "";
    position: absolute; }
  #menu-btn span::before {
    top: -6px; }
  #menu-btn span::after {
    top: 6px; }
  #menu-btn span, #menu-btn span::before, #menu-btn span::after {
    background-color: #FFF;
    height: 3px;
    width: 100%;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out; }

#menu-btn.menu-cross {
  background-color: transparent; }
  #menu-btn.menu-cross span::before {
    top: 0px;
    box-shadow: 0 0 30px #FFF;
    transform: rotate(45deg); }
  #menu-btn.menu-cross span::after {
    top: 0px;
    box-shadow: 0 0 30px #FFF;
    transform: rotate(-45deg); }
  #menu-btn.menu-cross span {
    height: 0; }

#content-wrapper section#sbu-tourney {
  background-color: #191919;
  color: #FFF; }
  #content-wrapper section#sbu-tourney h2 {
    color: #FFF; }

#tourney-list {
  text-align: left;
  list-style-type: square;
  margin-left: 15px; }
